@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://barracao.pr.gov.br/common/uploads/noticias/8963615747a2ad0005684687017fdbb3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40vh;
  padding-bottom: 40vh;
  text-align: center;
  background-attachment: fixed;
}

.banner-titulo {
  color: white;
  font-size: 30px;
}

.container {
  padding-top: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
}
.container h2 {
  font-size: 22px;
  font-weight: bold;
}
.maps {
  width: 100%;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}
